<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<%let totalBlocks = 0%> 

    <%for (let i=0;i<players.length;i++){  %> 
        <%totalBlocks += parseInt(players[i].blocks) }  %> 

<body>
    <%- include('./partials/header.ejs') %>
        <h2>Team Blocks: <%= totalBlocks %></h2>

        <div class="table">
            <table class="table-sortable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Blocks</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < players.length; i++) { %>
                        <tr>
                            <td>
                                <a href="/team-stats/<%= i.id %>">
                                    <%= players[i].name %>
                                </a>
                            </td>
                            <td>
                                <%= players[i].blocks %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
</body>
<script src="/js/tablesort.js"></script>
</html>

