<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<%let totalBlocks=0%>

<%for (let i=0;i<players.length;i++){ %>
    <%totalBlocks +=parseInt(players[i].blocks) } %>

<body>
    <div class="parent">
    <%- include('./partials/header.ejs') %>

    <div class="div2">
    <h2>Team Blocks</h2>

            <table class="table-sortable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Blocks</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < players.length; i++) { %>
                        <tr>
                            <td>
                                <a href="/team-stats/<%= players[i].id %>">
                                    <%= players[i].name %>
                                </a>
                            </td>
                            <td>
                                <%= players[i].blocks %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
                <tfoot>
                    <tr class="teamStats">
                        <td>Team Total</td>
                        <td>
                            <%= totalBlocks %>
                        </td>
                    </tr>
                </tfoot>
            </table>
    </div> 
    </div>
</body>
                <script src="/js/tablesort.js"></script>

</html>