<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <h2>Team Members</h2>

    <ul>
        <% players.forEach(player=> { %>
            <li> 
                <a href="/team-stats/<%=player._id; %>"> 
                    <%=player.name; %>
                </a>
                <form class= delete action="/team-stats/<%= player.id %>?_method=DELETE" method="post" >
                    <input type="submit" value="DELETE" />
                </form>
                <a href="/team-stats/<%=player._id; %>/edit">Edit</a><br />

            </li>
            <% }) %>
    </ul>
</body>
</html>