<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>

            <h2>Team scores</h2>
            <div class="table">
                <table class="table-sortable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assists</th>
                            <th>Goals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < players.length; i++) { %>
                            <tr>
                                <td>
                                    <a href="/team-stats/<%= i.id %>">
                                        <%= players[i].name %>
                                    </a>
                                </td>
                                <td>
                                    <%= players[i].assists %>
                                </td>
                                <td>
                                    <%= players[i].goals %>
                                </td>

                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
    </body>
    <script src="/js/tablesort.js"></script>

</html>