<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<%let totalDrops=0%>

<%for (let i=0;i<players.length;i++){ %>
    <%totalDrops +=parseInt(players[i].drops) } %>

<%let totalThrowAways=0%>

<%for (let i=0;i<players.length;i++){ %>
    <%totalThrowAways +=parseInt(players[i].throwAways) } %>


<body>
    <div class="parent">
    <%- include('./partials/header.ejs') %>
        <div class="div2">
            <h2>Team Turn Overs</h2>
                <table class="table-sortable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Drops</th>
                            <th>Throw Aways</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < players.length; i++) { %>
                            <tr>
                                <td>
                                    <a href="/team-stats/<%= players[i].id %>">
                                        <%= players[i].name %>
                                    </a>
                                </td>
                                <td>
                                    <%= players[i].drops %>
                                </td>
                                <td>
                                    <%= players[i].throwAways %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                    <tfoot>
                        <tr class="teamStats">
                            <td>Team Total</td>
                            <td>
                                <%= totalDrops %>
                            </td>
                            <td>
                                <%= totalThrowAways %>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            
        </div>
        </div>
</body>
<script src="/js/tablesort.js"></script>

</html>